:root {
    --f7-theme-color: #007aff;
    --f7-theme-color-shade: #007aff;
    --f7-theme-color-tint: #007aff;
    --f7-list-inset-side-margin: 20px;
    --f7-list-item-divider-line-height: 0;
    --f7-list-item-border-color: transparent;
}

body {
    overflow: hidden;
}

.appimg {
	border-radius:30%;
	width:50px;
	height:50px;
}

.tab-icon {
    font-size: 22.5px;
}
.navbar-bg {
  background-color: #0a0a0a;
}
.navbar-bg:after {
    display: none;
}

.toolbar:before {
    display: none;
}

.cat-icons {
    width: 36px;
    height: 36px;
    border-radius: 25%;
  }
.slider {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.small-card {
  flex-shrink: 0;
  width: 136px;
  height: 177px;
  border-radius: 15px;
  background-color: #000000;
  margin: 10px;
  display: block;
  text-align: center;
}

.small-card img {
  width: 80px;
  border-radius: 23.3px;
  margin-top: 20px;
}

.small-card h2 {
  color: #fff;
}

#sliderbtn {
  position:relative; 
  left:80px; 
  top:2px;
}

/*Other CSS*/
p
/*Card Slide*/
.slider {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.top-card {
  width: 100%;
  height: 170px;
  border-radius: 15px;
}
.div-slide {
  flex-shrink: 0;
  min-width: 320px;
  display: block;
  height: 200px;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}
/*End Slide Card*/

/*Signed Badge*/
#signed-instahub {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:red;
}
#signed-tutubox {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:red;
}
#signed-appvalley {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:black;
}
#signed-eonhub {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:black;
}
#signed-cokernutx {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:black;
}
#signed-pandahelper {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:black;
}
#signed-ioshaven {
	position: absolute;
	top: 25px;
	right: 12px;
	background-color:black;
}

/*Light Mode*/
#sun {
	position: absolute;
	top: 25px;
	right: 12px;
}
/*Form*
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width *
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale *
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

/*Request*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
	border-radius: 8px;
  font-size: 18px;
  border: 1px solid white;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border-color: white;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: black;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(52, 96, 242);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(255, 3, 3);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
